
Data and Programming I Labs
https://github.com/Data-and-Programming-2-TAs/Data_and_Programming_1_Lab_Notebooks

In [2]:
import re #reg ex package for py

## Global and Local Namespace
for more of the nity-grity of this topic
https://realpython.com/python-namespaces-scope/

In [58]:
my_var = 4
my_soln = my_var * 2
my_soln

8

In [59]:
my_var = 5
my_soln = my_var * 2
my_soln

10

In [61]:
my_var = 5

# Other code

my_var = 'ten'

# Other code

my_soln = my_var * 2 
my_soln

'tenten'

In [64]:
def double(my_var):
    return my_var * 2

my_soln = double(4)
my_soln

8

In [65]:
# at the top of my code
input_var = 4

# ...
my_soln = double(input_var)
my_soln

8

In [66]:
def do_that_math(x, y):
    z = x * y
    q = z - x
    return q

do_that_math(1,2)

1

In [68]:
print(z)

NameError: name 'z' is not defined

In [69]:
z = 4
do_that_math(1,2)

1

## Generators
https://realpython.com/introduction-to-python-generators/

In [45]:
def list_reader_fun(my_list, i):
        return my_list[i]

this_list = [1,2,3,'four']

for i in range(len(this_list)):
    print(list_reader_fun(this_list, i))

1
2
3
four

In [46]:
def list_reader_gen(my_list):
    for i in my_list:
        yield i

gen = list_reader_gen(this_list)
next(gen)

1

In [49]:
next(gen)

'four'

In [25]:
def infinite_sequence():
    num = 0
    while True:
        yield num
        num += 1

In [52]:
gen = infinite_sequence()
next(gen)

0

In [56]:
next(gen)

4

## Regular Expressions
Robust pattern matching on text
https://regex101.com

In [75]:
text = 'Hello my name is Jeff!' # create the text

pattern = r'^Hello my name is ([A-Z][a-z]+)[.!?]$' # the pattern

match = re.match(pattern, text) # call
match

^ this means this is the start of the line
only match if starts with Hello

([A-Z][a-z]+) -this part is the name, () isolates it
says group the stuff in here
[A-Z] -match any char that falls between A-Z upper case (eg J)
[a-z]+ -match any char that falls between a-z lower case (eg eff)
grabs as many lower case letters as it can 

[.!?] -mathc one of these three char (so mathc if . ! or ?)

$ -must be end of the line

In [76]:
match.group(0)

'Hello my name is Jeff!'

In [77]:
text = 'Hello my name is Kim!'
match = re.match(pattern, text) # call
match

In [78]:
match.group(1)

'Kim'

In [103]:
def name_finder(my_text):
    name_pattern = r'^Hello my name is ([A-Z][a-z]+)[.!?]$' 
    match = re.match(name_pattern, my_text)
    return match.group(1)

In [104]:
# Just a reminder of the text, I would not re-define it in finished code!
text = 'Hello my name is Jeff!' 

match = name_finder(text)
match

'Jeff'

In [105]:
texts = ['Hello my name is Jeff!', 
         'Hello my name is Maya.',
         'Hello my name is Xi.']

names = []
for text in texts:
    names.append(name_finder(text))
    
names

['Jeff', 'Maya', 'Xi']

In [110]:
def area_code_finder(text):
    return re.search(r'\((.*?)\)',text).group(1) 
    #cite: https://stackoverflow.com/questions/4894069/regular-expression-to-return-text-between-parenthesis

# this will catch anything between ()

phone_numbers =['(805)555-555',
               '(314)545-555',
               '+1 (968)555-432',
               '(NA)555-555']

area_codes = []
for text in phone_numbers:
    area_codes.append(area_code_finder(text))
    
area_codes

['805', '314', '968', 'NA']

In [116]:
def area_code_finder(text):
    return re.search(r'\(([0-9][0-9][0-9])\)',text).group(1) 
    #cite: https://stackoverflow.com/questions/4894069/regular-expression-to-return-text-between-parenthesis

# this is more specific, but now throws an error if I run it on 
# invalid code

phone_numbers =['(805)555-555',
               '(314)545-555',
               '+1 (968)555-432',
                '(NA)555-555']

area_codes = []
for text in phone_numbers:
    area_codes.append(area_code_finder(text))

    
area_codes

AttributeError: 'NoneType' object has no attribute 'group'

In [117]:
area_codes = []
for text in phone_numbers:
    try:
        area_codes.append(area_code_finder(text))
    except AttributeError:
        pass
    
area_codes

['805', '314', '968']

In [119]:
years = [2017, 2018, 2019]
base_url = 'https://www.eia.gov/outlooks/aeo/pdf/{}.pdf'

for year in years:
    url = base_url.format(year)
    print(url)

https://www.eia.gov/outlooks/aeo/pdf/2017.pdf
https://www.eia.gov/outlooks/aeo/pdf/2018.pdf
https://www.eia.gov/outlooks/aeo/pdf/2019.pdf