# Python Review
   
* Get Requests   
* Pandas
* Functions

## Optional Activity
#### If you were in Data and Programming 1 -Python sections:    
   Take a look at some of your homeworks from Fall quarter   
* Can you understand your own code?   
* Refresh your memory
-you can totally steal code from yourself for future HW

#### If you were in Data and Programming 1 -R section:
You've still got this!
Review materials that prof Levy has recommended 

#### Either way:   
Feel free to check out my Lab notebooks from Fall quarter
https://github.com/Data-and-Programming-2-TAs/Data_and_Programming_1_Lab_Notebooks

In [1]:
import os
import requests
import pandas as pd

In [7]:
#path = os.path.join(os.getcwd(), 'Documents', 'GitHub', 'Sarah-Discussion-Notebooks')
path = os.getcwd()
path

'/Users/Sarah/Documents/GitHub/Sarah-Discussion-Notebooks'

In [6]:
os.chdir(path)  # set working directory 
# this step may not be needed, depending on how you are running your code

In [8]:
os.getcwd()

'/Users/Sarah/Documents/GitHub/Sarah-Discussion-Notebooks'

Let's look at Chicago population Data
Chicago Health Atlaas:
https://www.chicagohealthatlas.org/indicators/total-population

In [9]:
url = 'https://citytech-health-atlas-data-prod.s3.amazonaws.com/uploads/uploader/path/557/Total_population.xlsx'
filename = 'Chi_pop.xls'

In [10]:
response = requests.get(url)
output = response.content
with open(filename, 'wb') as ofile:
    ofile.write(output)

In [11]:
df = pd.read_excel(os.path.join(path, filename))
df.head()

,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Demography,Demo_Group,Number,...,Upper_95CI_Age_Adj_Rate,Percent,Lower_95CI_Percent,Upper_95CI_Percent,Weight_Number,Weight_Percent,Lower_95CI_Weight_Percent,Upper_95CI_Weight_Percent,Map_Key,Flag
0,Demography,Age Group,Total population,2017,City,Chicago,606,Race-ethnicity,All race-ethnicities,2716462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
1,Demography,Age Group,Total population,2017,City,Chicago,606,Age,0-4,172017,...,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
2,Demography,Age Group,Total population,2017,City,Chicago,606,Age,5-9,150373,...,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
3,Demography,Age Group,Total population,2017,City,Chicago,606,Age,10-14,155283,...,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
4,Demography,Age Group,Total population,2017,City,Chicago,606,Age,15-19,153896,...,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G

In [12]:
df.shape

(383, 27)

In [13]:
df['Number']

0      2716462
1       172017
2       150373
3       155283
4       153896
        ...
378      27643
379      18497
380      27313
381      20669
382      56605
Name: Number, Length: 383, dtype: int64

In [14]:
df['Year']

0           2017
1           2017
2           2017
3           2017
4           2017
         ...
378    2006-2010
379    2006-2010
380    2006-2010
381    2006-2010
382    2006-2010
Name: Year, Length: 383, dtype: object

In [15]:
df.columns

Index(['Category', 'SubCategory', 'Indicator', 'Year', 'Geography',
       'Geo_Group', 'Geo_ID', 'Demography', 'Demo_Group', 'Number',
       'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
       'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 'Age_Adj_Rate',
       'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 'Percent',
       'Lower_95CI_Percent', 'Upper_95CI_Percent', 'Weight_Number',
       'Weight_Percent', 'Lower_95CI_Weight_Percent',
       'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag'],
      dtype='object')

In [16]:
# Can drop columns this way
small_df = df.drop(columns = ['Category', 'SubCategory', 'Indicator', 'Age_Adj_Rate',
                             'Geo_Group', 'Geo_ID', 'Demo_Group', 'Weight_Number',
                             'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
                             'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 
                             'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 
                             'Lower_95CI_Percent', 'Upper_95CI_Percent', 
                             'Weight_Percent', 'Lower_95CI_Weight_Percent',
                             'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag'])



# or 

keep_colls = ['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']

small_df = df[keep_colls]

In [17]:
small_df.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [18]:
small_df.dtypes

Year           object
Geography      object
Demography     object
Demo_Group     object
Number          int64
Percent       float64
dtype: object

In [19]:
small_df.isna().sum()

Year            0
Geography       0
Demography    231
Demo_Group    231
Number          0
Percent       239
dtype: int64

In [20]:
df_2017 = small_df.loc[small_df['Year'] == 2017]
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [21]:
df_2017.isna().sum()

Year          0
Geography     0
Demography    0
Demo_Group    0
Number        0
Percent       1
dtype: int64

## Re-factor Code

In [22]:
# ...

def parse_df(df, year):
    small_df = df[['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']]
    df_year = small_df.loc[small_df['Year'] == year]
    return df_year

df_2017 = parse_df(df, 2017)
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [23]:
# or even more general:

def parse_df(df, year, columns):
    small_df = df[columns]
    df_year = small_df.loc[small_df['Year'] == year]
    return df_year

keep_cols = ['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']
df_2017 = parse_df(df, 2017, keep_cols)
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [24]:
keep_cols = ['Indicator','Year','Geo_ID','Number', 'Age_Adj_Rate']
alt_df_2016 = parse_df(df, 2016, keep_cols)
alt_df_2016.head()

           Indicator  Year  Geo_ID   Number  Age_Adj_Rate
19  Total population  2016     606  2704965           NaN
20  Total population  2016     606   173118           NaN
21  Total population  2016     606   156888           NaN
22  Total population  2016     606   154183           NaN
23  Total population  2016     606   159593           NaN

In [ ]:
# Now add comments (not necessary, but PEP8 recomended) -this is helpful for 
# remembering what your code does
# Only do this if the code is not super obvious -this code may be too obvious 
# to merit a comment

def parse_df(df, year, columns):
    """Input: the full df, year (integer or string depending on if you are
    working with City or Community Area), and which columns you are using
    note- columns must contain "Year"
    Output: df with only selected columns and year
    """
    small_df = df[columns]
    df_year = small_df.loc[small_df['Year'] == year]
    return df_year

### From a student question I used my function to prepare two dfs to be merged
#### but first I had to investigate my df more

In [26]:
df["Year"].unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, '2012-2016',
       '2011-2015', '2006-2010'], dtype=object)

In [27]:
df.columns

Index(['Category', 'SubCategory', 'Indicator', 'Year', 'Geography',
       'Geo_Group', 'Geo_ID', 'Demography', 'Demo_Group', 'Number',
       'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
       'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 'Age_Adj_Rate',
       'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 'Percent',
       'Lower_95CI_Percent', 'Upper_95CI_Percent', 'Weight_Number',
       'Weight_Percent', 'Lower_95CI_Weight_Percent',
       'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag'],
      dtype='object')

In [29]:
df['Geo_Group'].unique()

array(['Chicago', '1-Rogers Park', '2-West Ridge', '3-Uptown',
       '4-Lincoln Square', '5-North Center', '6-Lakeview',
       '7-Lincoln Park', '8-Near North Side', '9-Edison Park',
       '10-Norwood Park', '11-Jefferson Park', '12-Forest Glen',
       '13-North Park', '14-Albany Park', '15-Portage Park',
       '16-Irving Park', '17-Dunning', '18-Montclare',
       '19-Belmont Cragin', '20-Hermosa', '21-Avondale',
       '22-Logan Square', '23-Humboldt Park', '24-West Town', '25-Austin',
       '26-West Garfield Park', '27-East Garfield Park',
       '28-Near West Side', '29-North Lawndale', '30-South Lawndale',
       '31-Lower West Side', '32-Loop', '33-Near South Side',
       '34-Armour Square', '35-Douglas', '36-Oakland', '37-Fuller Park',
       '38-Grand Boulevard', '39-Kenwood', '40-Washington Park',
       '41-Hyde Park', '42-Woodlawn', '43-South Shore', '44-Chatham',
       '45-Avalon Park', '46-South Chicago', '47-Burnside',
       '48-Calumet Heights', '49-Roseland', '50-Pullman',
       '51-South Deering', '52-East Side', '53-West Pullman',
       '54-Riverdale', '55-Hegewisch', '56-Garfield Ridge',
       '57-Archer Heights', '58-Brighton Park', '59-McKinley Park',
       '60-Bridgeport', '61-New City', '62-West Elsdon', '63-Gage Park',
       '64-Clearing', '65-West Lawn', '66-Chicago Lawn',
       '67-West Englewood', '68-Englewood', '69-Greater Grand Crossing',
       '70-Ashburn', '71-Auburn Gresham', '72-Beverly',
       '73-Washington Heights', '74-Mount Greenwood', '75-Morgan Park',
       "76-O'Hare", '77-Edgewater'], dtype=object)

In [35]:
# two more function calls to get 2 dfs
df_12_16 = parse_df(df,'2012-2016', 
                    ['Year','Geo_Group', 'Demography', 
                     'Demo_Group', 'Number', 'Percent'])
df_11_15 = parse_df(df,'2011-2015', 
                    ['Year','Geo_Group', 'Demography', 
                     'Demo_Group', 'Number', 'Percent'])

In [36]:
# merged dfs
df_12_16.merge(df_11_15, on = 'Geo_Group', how = 'inner')

,Year_x,Geo_Group,Demography_x,Demo_Group_x,Number_x,Percent_x,Year_y,Demography_y,Demo_Group_y,Number_y,Percent_y
0,2012-2016,1-Rogers Park,NaN,NaN,55500,NaN,2011-2015,NaN,NaN,54402,NaN
1,2012-2016,2-West Ridge,NaN,NaN,73723,NaN,2011-2015,NaN,NaN,72211,NaN
2,2012-2016,3-Uptown,NaN,NaN,56296,NaN,2011-2015,NaN,NaN,55137,NaN
3,2012-2016,4-Lincoln Square,NaN,NaN,41483,NaN,2011-2015,NaN,NaN,40761,NaN
4,2012-2016,5-North Center,NaN,NaN,34942,NaN,2011-2015,NaN,NaN,34623,NaN
...,...,...,...,...,...,...,...,...,...,...,...
72,2012-2016,73-Washington Heights,NaN,NaN,27055,NaN,2011-2015,NaN,NaN,27116,NaN
73,2012-2016,74-Mount Greenwood,NaN,NaN,19029,NaN,2011-2015,NaN,NaN,18783,NaN
74,2012-2016,75-Morgan Park,NaN,NaN,28919,NaN,2011-2015,NaN,NaN,29113,NaN
75,2012-2016,76-O'Hare,NaN,NaN,21756,NaN,2011-2015,NaN,NaN,22015,NaN
76,2012-2016,77-Edgewater,NaN,NaN,55430,NaN,2011-2015,NaN,NaN,54873,NaN

This is a pretty messy df, after seeing this I would likely either alter my function call or alter my function/write a new function to generate dfs that had exactly (and only) the information that I am looking for from the larger df