# Python Review
   
* Get Requests   
* Pandas
* Functions

## Optional Activity
#### If you were in Data and Programming 1 -Python sections:    
   Take a look at some of your homeworks from Fall quarter   
* Can you understand your own code?   
* Refresh your memory
-you can totally steal code from yourself for future HW

#### If you were in Data and Programming 1 -R section:
You've still got this!
Review materials that prof Levy has recommended 

#### Either way:   
Feel free to check out my Lab notebooks from Fall quarter
https://github.com/Data-and-Programming-2-TAs/Data_and_Programming_1_Lab_Notebooks

In [2]:
import os
import requests
import pandas as pd

In [5]:
path = os.path.join(os.getcwd(), 'Documents', 'GitHub', 'Sarah-Discussion-Notebooks')
path

'/Users/Sarah/Documents/GitHub/Sarah-Discussion-Notebooks'

In [17]:
os.chdir(path) #set working directory -may not be needed, depending on how you are running your code

In [18]:
os.getcwd()

'/Users/Sarah/Documents/GitHub/Sarah-Discussion-Notebooks'

Let's look at Chicago population Data
Chicago Health Atlaas:
https://www.chicagohealthatlas.org/indicators/total-population

In [8]:
url = 'https://citytech-health-atlas-data-prod.s3.amazonaws.com/uploads/uploader/path/557/Total_population.xlsx'
filename = 'Chi_pop.xls'

In [19]:
response = requests.get(url)
output = response.content
with open(filename, 'wb') as ofile:
    ofile.write(output)

In [28]:
df = pd.read_excel(os.path.join(path, filename))
df.head()

,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Demography,Demo_Group,Number,...,Upper_95CI_Age_Adj_Rate,Percent,Lower_95CI_Percent,Upper_95CI_Percent,Weight_Number,Weight_Percent,Lower_95CI_Weight_Percent,Upper_95CI_Weight_Percent,Map_Key,Flag
0,Demography,Age Group,Total population,2017,City,Chicago,606,Race-ethnicity,All race-ethnicities,2716462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
1,Demography,Age Group,Total population,2017,City,Chicago,606,Age,0-4,172017,...,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
2,Demography,Age Group,Total population,2017,City,Chicago,606,Age,5-9,150373,...,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
3,Demography,Age Group,Total population,2017,City,Chicago,606,Age,10-14,155283,...,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G
4,Demography,Age Group,Total population,2017,City,Chicago,606,Age,15-19,153896,...,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G

In [21]:
df.shape

(383, 27)

In [23]:
df['Number']

0      2716462
1       172017
2       150373
3       155283
4       153896
        ...
378      27643
379      18497
380      27313
381      20669
382      56605
Name: Number, Length: 383, dtype: int64

In [27]:
df['Year']

0           2017
1           2017
2           2017
3           2017
4           2017
         ...
378    2006-2010
379    2006-2010
380    2006-2010
381    2006-2010
382    2006-2010
Name: Year, Length: 383, dtype: object

In [26]:
df.columns

Index(['Category', 'SubCategory', 'Indicator', 'Year', 'Geography',
       'Geo_Group', 'Geo_ID', 'Demography', 'Demo_Group', 'Number',
       'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
       'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 'Age_Adj_Rate',
       'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 'Percent',
       'Lower_95CI_Percent', 'Upper_95CI_Percent', 'Weight_Number',
       'Weight_Percent', 'Lower_95CI_Weight_Percent',
       'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag'],
      dtype='object')

In [39]:
#could drop columns this way
small_df = df.drop(columns = ['Category', 'SubCategory', 'Indicator', 'Age_Adj_Rate',
                             'Geo_Group', 'Geo_ID', 'Demo_Group', 'Weight_Number',
                             'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
                             'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 
                             'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 
                             'Lower_95CI_Percent', 'Upper_95CI_Percent', 
                             'Weight_Percent', 'Lower_95CI_Weight_Percent',
                             'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag'])



#or 

keep_colls = ['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']

small_df = df[keep_colls]

In [40]:
small_df.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [41]:
small_df.dtypes

Year           object
Geography      object
Demography     object
Demo_Group     object
Number          int64
Percent       float64
dtype: object

In [42]:
small_df.isna().sum()

Year            0
Geography       0
Demography    231
Demo_Group    231
Number          0
Percent       239
dtype: int64

In [43]:
df_2017 = small_df.loc[small_df['Year'] == 2017]
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [44]:
df_2017.isna().sum()

Year          0
Geography     0
Demography    0
Demo_Group    0
Number        0
Percent       1
dtype: int64

## Re-factor Code

In [46]:
#...

def parse_df(df, year):
    small_df = df[['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']]
    df_year = small_df.loc[small_df['Year'] == year]
    return df_year

df_2017 = parse_df(df, 2017)
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [47]:
#or even more general:

def parse_df(df, year, columns):
    small_df = df[columns]
    df_year = small_df.loc[small_df['Year'] == year]
    return df_year

keep_cols = ['Year','Geography', 'Demography', 'Demo_Group', 'Number', 'Percent']
df_2017 = parse_df(df, 2017, keep_cols)
df_2017.head()

   Year Geography      Demography            Demo_Group   Number  Percent
0  2017      City  Race-ethnicity  All race-ethnicities  2716462      NaN
1  2017      City             Age                   0-4   172017      6.3
2  2017      City             Age                   5-9   150373      5.5
3  2017      City             Age                 10-14   155283      5.7
4  2017      City             Age                15-19    153896      5.7

In [52]:
keep_cols = ['Indicator','Year','Geo_ID','Number', 'Age_Adj_Rate']
alt_df_2016 = parse_df(df, 2016, keep_cols)
alt_df_2016.head()

           Indicator  Year  Geo_ID   Number  Age_Adj_Rate
19  Total population  2016     606  2704965           NaN
20  Total population  2016     606   173118           NaN
21  Total population  2016     606   156888           NaN
22  Total population  2016     606   154183           NaN
23  Total population  2016     606   159593           NaN